##
##  k8s-sample -- Kubernetes Sample Application
##  Copyright (c) 2019-2020 Dr. Ralf S. Engelschall <rse@engelschall.com>
##  Distributed under MIT license <https://spdx.org/licenses/MIT.html>
##

package:
    namespace:        null
    name:             null
    fullname:         null

app:
    name:             app
    init:
        image:        "alpine"
        tag:          "latest"
        command:      [ "sh", "-c", "chown 2000:2000 /data && chmod 755 /data" ]
    container:
        image:        "docker.io/engelschall/k8s-sample"
        tag:          "0.9.3-20200213"
        replicas:     1
        restart:      Always
        args:
            default:  [ "-d", "sqlite3:/data/app.sqlite" ]
            db:       [ "-d", "pg:postgres://app:app@k8s-sample-db:5432/app", "-w", "10" ]
        env:
    service:
        type:         ClusterIP
        protocol:     TCP
        port:         9090
        url:          /k8s-sample
    storage:
        path:         /data
        mode:         Filesystem
        type:         null
        size:         100Mi
        gid:          null
        shared:       false

db:
    enabled:          false
    name:             db
    container:
        image:        "docker.msg.team/ps/std-postgresql"
        tag:          "12.3-20200516"
        replicas:     1
        restart:      Always
        args:         []
        env:
            CFG_ADMIN_PASSWORD:  postgresql
            CFG_ADMIN_USERNAME:  postgresql
            CFG_CUSTOM_DATABASE: app
            CFG_CUSTOM_PASSWORD: app
            CFG_CUSTOM_USERNAME: app
    service:
        type:         ClusterIP
        protocol:     TCP
        port:         5432
    storage:
        path:         /data
        type:         nfs
        size:         100Mi
        gid:          null
        shared:       false

